* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Gilroy';
    background-color: #0B1D26;
    background-image: url('/img/bg/bg.jpg');
    background-size: 100% auto;
    background-repeat: no-repeat;
    color: white;
}

a {
    text-decoration: none;
}

.container-wide {
    width: 1790px;
    height: 25px;
    margin: 0 auto;
   
}

.row {
    
    display: flex;
}

.space-between{
    justify-content: space-between;
}

.align-center{
     align-items: center;
}
/* Header */ 

.header {
    padding: 0 15px;
    padding-top: 64px;
    margin-bottom: 843px;
}


.logo {
    font-family: 'Playfair Display',serif;
    font-weight: 700;
    font-size: 32px;
}
.nav ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
}
.nav li + li {
    margin-left: 40px;
}
.nav li {
    padding: 0;
}
.nav a {
    color: white;
    text-decoration: none;
    font-weight: 700;
    font-size: 18px;
    position: relative;
}


.nav-wripper{
    margin-bottom: 198px;
}
.nav-wripper a:hover{
    color:#FBD784;
    transition: color 0.2s ease-in;
}

.login {
    display: inline-block;
    position: relative;
    color: white;
    text-decoration: none;
    font-weight: 700;
    font-size: 17px;
}
.login::before{
    display: block;
    content: "";
    position: absolute;
    right: 0;
    width: 20px;
    height: 20px;
    top: 50%;
    background-image: url("/img/icons/cart.svg");
}

.hero {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 950px;
    padding-left: 15px;
    padding-right: 15px;
    transition: transform 0.8s cubic-bezier(1.000, -0.455, 0.390, 1.440);
}

.hero:hover{
    transform: translateY(-5%);
}
.hire-category {
    position: relative;
    font-weight: 800;
    font-size: 18px;
    padding-left: 104px;
    line-height: 1.222;
    letter-spacing: 6px;
    text-transform: uppercase;
    color: #FBD784;
    margin-bottom: 32px;
}
.hire-category::before {
    position: absolute;
    left:0;
    top:50%;
    transform: translateY(-50%);
    content: "";
    width: 72px;
    height: 2px;
    background-color: #FBD784;
}
.hero-heading {
    font-family: 'Playfair Display', serif;
    font-style: normal;
    font-weight: 500;
    font-size: 80px;
    line-height: 1.136;
    text-transform: capitalize;
    color: #FFFFFF;
}
.hero-scroll {
    display: inline-block;
    position: relative;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.222;
    color: #FFFFFF;
    padding-right: 32px;
}

.hero-scroll::after{
    display: block;
    content: "";
    position: absolute;
    right: 0;
    width: 16px;
    height: 24px;
    top: 50%;
    transform: translateY(-50%);
    background-image: url("/img/icons/arrow_down.svg");
}

.container {
    max-width: 1492px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}

/* Article */
.article{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 200px;
}
.article-text {
    position: relative;
    padding-left: 150px;
    max-width: 782px;
}
.article-text::before{
    position: absolute;
    left: 0;
    top: 0;
    transform: translateY(-50%);
    display: block;
    content: attr(data-num);
    width: 240px;
    height: 240px;
    font-weight: 700;
    font-size: 240px;
    line-height: 1;
    opacity: 0.1;
}
.article-subtitle {
    position: relative;
    font-weight: 800;
    font-size: 18px;
    padding-left: 96px;
    line-height: 1.222;
    letter-spacing: 6px;
    text-transform: uppercase;
    color: #FBD784;
    margin-bottom: 32px;
}
.article-subtitle::before {
    position: absolute;
    left:0;
    top:50%;
    transform: translateY(-50%);
    content: "";
    width: 72px;
    height: 2px;
    background-color: #FBD784;
}
.article-title {
    font-family: 'Playfair Display', serif;
    font-style: normal;
    font-weight: 500;
    font-size: 64px;
    line-height: 1.2;

    color: #FFFFFF;
    margin-bottom: 27px;
    max-width: 555px;
}
.article-text p{
    font-weight: 700;
    font-size: 18px;
    line-height: 1.777;
    margin-bottom: 27px;
}
.article-read-more {
    display: inline-block;
    position: relative;
    font-size: 18px;
    line-height: 1.222;
    padding-right: 40px;
    color: #FBD784;
}
.article-read-more::after{
    display: block;
    content: "";
    position: absolute;
    right: 0;
    width: 24px;
    height: 16px;
    top: 50%;
    transform: translateY(-50%);
    background-image: url("/img/icons/arrow_right.svg");
}
.article-img img{
    display: block;
}

/* Footer */

.footer{
    padding-bottom: 120px;
}
.footer-copyright {
display: flex;
flex-direction: column;
}
.footer-copyright .logo {
    margin-bottom: 24px;
}
.footer-copyright-desc {
    max-width: 303px;
    font-size: 18px;
    line-height: 1.777;
}
.footer-copyright-terms {
    margin-top: auto;
    opacity: 0.5;
    font-weight: 500;
    font-size: 18px;
    line-height: 1.777;
}
.footer-nav-wrapper {
    display: flex;
}
.footer-nav+.footer-nav{
    margin-left: 212px;
}
.footer-nav{
    max-width: 200px;

    font-weight: 500;
    font-size: 18px;
    line-height: 1.777;
    
}
.footer-nav-title {
    margin-bottom: 24px;
    font-size: 24px;
    line-height: 1.333;
    color: #FBD784;
}
.footer-nav ul{
    padding: 0;
    margin: 0;
    list-style-type: none;
}
.footer-nav li{
    margin-bottom: 16px;
}
.footer-nav ul:last-child{
    margin-bottom: -16px;
}
.footer-nav a{
    position: relative;
    font-size: 18px;
    line-height: 1.777;
    text-decoration: none;
    color:white;
}

.footer-nav a::after {
    position: absolute;
    left: 0;
    bottom: -10px;
    display: block;
    content: '';
    width: 100%;
    height: 2px;
    background-color: white;
    opacity: 0;
    transition: all 0.2s ease-in;
}

.footer-nav a:hover::after {
    position: absolute;
    left: 0;
    bottom: -5px;
    display: block;
    content: '';
    width: 100%;
    height: 2px;
    background-color: white;
    opacity: 1;
}
