* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Gilroy';
    background-color: #0B1D26;
    background-image: url('/img/bg/bg.jpg');
    background-size: 100% auto;
    background-repeat: no-repeat;
    color: white;
}

a {
    text-decoration: none;
}

.container-wide {
    width: 1790px;
    height: 25px;
    margin: 0 auto;
    
}

.row {
    
    display: flex;
}

.space-between{
    justify-content: space-between;
}

/* Header */ 

.header {
    padding: 0 15px;
    padding-top: 64px;
    margin-bottom: 843px;
}


.logo {
    font-family: 'Playfair Display',serif;
    font-weight: 700;
    font-size: 32px;
}
.nav ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
}
.nav li + li {
    margin-left: 40px;
}
.nav li {
    padding: 0;
}
.nav a {
    color: white;
    text-decoration: none;
    font-weight: 700;
    font-size: 18px;
}
.nav-wripper{
    margin-bottom: 198px;
}
.nav-wripper a:hover{
    color:#FBD784;
    transition: color 0.2s ease-in;
}

.login {
    color: white;
    text-decoration: none;
    font-weight: 700;
    font-size: 17px;
}

.hero {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 950px;
    padding-left: 15px;
    padding-right: 15px;
    transition: transform 0.8s cubic-bezier(1.000, -0.455, 0.390, 1.440);
}

.hero:hover{
    transform: translateY(-5%);
}
.hire-category {
    position: relative;
    font-weight: 800;
    font-size: 18px;
    padding-left: 104px;
    line-height: 1.222;
    letter-spacing: 6px;
    text-transform: uppercase;
    color: #FBD784;
    margin-bottom: 32px;
}
.hire-category::before {
    position: absolute;
    left:0;
    top:50%;
    transform: translateY(-50%);
    content: "";
    width: 72px;
    height: 2px;
    background-color: #FBD784;
}
.hero-heading {
    font-family: 'Playfair Display', serif;
    font-style: normal;
    font-weight: 500;
    font-size: 80px;
    line-height: 1.136;
    text-transform: capitalize;
    color: #FFFFFF;
}
.hero-scroll {
    display: inline-block;
    position: relative;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.222;
    color: #FFFFFF;
    padding-right: 32px;
}

.hero-scroll::after{
    display: block;
    content: "";
    position: absolute;
    right: 0;
    width: 16px;
    height: 24px;
    top: 50%;
    transform: translateY(-50%);
    background-image: url("/img/icons/arrow_down.svg");
}

